* {box-sizing: border-box;}

.App, body {
  text-align: center;
  background: #4d0000;
}


.App-header {
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.calculation {
  width: 20em;
  min-height: 3em;
  background: grey;
  margin: 0 auto;
  padding: 1em;
}

.calculator {
  margin: 0 auto;
  width: 12em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 1.5em;
  .button {
    padding: 0.5em;
    background: whitesmoke;
    cursor: pointer;
    border: 2px solid #ffa94d;
    border-radius: 5px;
    // :hover {
    //   background: #ffa94d;
    //   -webkit-box-shadow: inset 0px 0px 41px 9px rgba(231,166,26,0.61);
    //   -moz-box-shadow: inset 0px 0px 41px 9px rgba(231,166,26,0.61);
    //   box-shadow: inset 0px 0px 41px 9px rgba(231,166,26,0.61);
    // }
  } 
}
