.App, body {
  text-align: center;
  background-color: #222;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.calculation {
  width: 20em;
  height: 3em;
  background: grey;
  margin: 0 auto;
}

.calculator {
  margin: 0 auto;
  background: firebrick;
}

.tg {
  border: 1px solid;
  margin: 0 auto;
  background: whitesmoke;
  font-size: 2em;
}
.button {
  padding: 1em;
  // background: whitesmoke;
  cursor: pointer;
} 